force-app/main/default/flows/Account_Contact_Relationship_Created_or_Updated.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Add_New_Relationship_to_Collection</name>
        <label>Add New Relationship to Collection</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>newRelationshipRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Addressee_and_Salutation_Fields_on_Organization_Accounts_Flow_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Relationship_Records_to_Changed_Variable</name>
        <label>Add Relationship Records to Changed Variable</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>roleChangedRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Addressee_and_Salutation_Fields_on_Organization_Accounts_Flow_1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Relationship_a_Primary_Contact</name>
        <label>Is Relationship a Primary Contact</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Primary_Contact</name>
            <conditionLogic>(1 OR 3) AND 2</conditionLogic>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsPrimaryMember</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsPrimaryMember</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_New_Relationship_to_Collection</targetReference>
            </connector>
            <label>New Primary Contact</label>
        </rules>
        <rules>
            <name>Previously_Primary_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsPrimaryMember</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.IsPrimaryMember</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Relationship_Records_to_Changed_Variable</targetReference>
            </connector>
            <label>Previously Primary Contact</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>rolesContainSpouse</name>
        <dataType>Boolean</dataType>
        <expression>INCLUDES({!$Record.Roles}, &quot;Spouse&quot;)</expression>
    </formulas>
    <interviewLabel>Account Contact Relationship Created or Updated {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Contact Relationship Created or Updated</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Relationship_a_Primary_Contact</targetReference>
        </connector>
        <object>AccountContactRelation</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Assign_Addressee_and_Salutation_Fields_on_Organization_Accounts_Flow_1</name>
        <label>Assign Addressee and Salutation Fields on Organization Accounts Flow 1</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <flowName>Assign_Addressee_and_Salutation_Fields_on_Organization_Accounts</flowName>
        <inputAssignments>
            <name>isDeleted</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>relationshipRecords</name>
            <value>
                <elementReference>roleChangedRecords</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Assign_Addressee_and_Salutation_Fields_on_Organization_Accounts_Flow_2</name>
        <label>Assign Addressee and Salutation Fields on Organization Accounts Flow 2</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <flowName>Assign_Addressee_and_Salutation_Fields_on_Organization_Accounts</flowName>
        <inputAssignments>
            <name>relationshipRecords</name>
            <value>
                <elementReference>newRelationshipRecords</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>accountChangedRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
    <variables>
        <name>existingSpouse</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>newRelationshipRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
    <variables>
        <name>roleChangedRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
</Flow>
