force-app/main/default/flows/Account_After_Create_or_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Add_Record_to_Collection</name>
        <label>Add Record to Collection</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>accounts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Addressee_and_Salutation_Fields_on_Person_Accounts_Flow_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_True</name>
        <label>Assign to True</label>
        <locationX>270</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>containsSpouse</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Relationships</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_Record_Contain_Spouse_Role</name>
        <label>Does Record Contain Spouse Role?</label>
        <locationX>402</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Relationships</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contains_Spouse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Relationships.Roles</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Spouse</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_True</targetReference>
            </connector>
            <label>Contains Spouse</label>
        </rules>
    </decisions>
    <decisions>
        <name>Spouse_Relationships</name>
        <label>Spouse Relationships?</label>
        <locationX>182</locationX>
        <locationY>923</locationY>
        <defaultConnector>
            <targetReference>Assign_Addressee_and_Salutation_Fields_on_Person_Accounts_Flow_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Relationship_Records_Returned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>containsSpouse</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Record_to_Collection</targetReference>
            </connector>
            <label>No Relationship Records Returned</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Account After Create or Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account After Create or Update</label>
    <loops>
        <name>Loop_Through_Relationships</name>
        <label>Loop Through Relationships</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_Spouse_Record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Does_Record_Contain_Spouse_Role</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Spouse_Relationships</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Spouse_Record</name>
        <label>Get Spouse Record</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Relationships</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PersonContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Spouse_Record</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Assign_Addressee_and_Salutation_Fields_on_Person_Accounts_Flow_1</name>
        <label>Assign Addressee and Salutation Fields on Person Accounts Flow 1</label>
        <locationX>50</locationX>
        <locationY>1139</locationY>
        <flowName>Assign_Addressee_and_Salutation_Fields_on_Person_Accounts</flowName>
        <inputAssignments>
            <name>accountIsChanged</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>updatedAccounts</name>
            <value>
                <elementReference>accounts</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Assign_Addressee_and_Salutation_Fields_on_Person_Accounts_Flow_2</name>
        <label>Assign Addressee and Salutation Fields on Person Accounts Flow 2</label>
        <locationX>314</locationX>
        <locationY>1031</locationY>
        <flowName>Assign_Addressee_and_Salutation_Fields_on_Person_Accounts</flowName>
        <inputAssignments>
            <name>relationshipRecords</name>
            <value>
                <elementReference>Get_Spouse_Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>accounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>containsSpouse</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
