force-app/main/default/flows/Account_After_Create_or_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Add_Record_to_Collection</name>
        <label>Add Record to Collection</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>accounts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Addressee_and_Salutation_Fields_on_Person_Accounts_Flow_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Relationship_Record_to_Collection</name>
        <label>Add Relationship Record to Collection</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>relationshipRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Spouse_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Addressee_and_Salutation_Fields_on_Person_Accounts_Flow_2</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Account_a_Primary_Contact</name>
        <label>Is Account a Primary Contact?</label>
        <locationX>182</locationX>
        <locationY>1055</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_Contact_Relationships_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Primary_Contact_Relationships</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Addressee_and_Salutation_Fields_on_Organization_Accounts_Flow_1</targetReference>
            </connector>
            <label>Account Contact Relationships Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Type</name>
        <label>Record Type?</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Person_Account</name>
            <conditionLogic>1 AND (2 OR (3 OR 4 OR 5))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PersonAccount</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isInsert</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FirstName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Salutation</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Spouse_Record</targetReference>
            </connector>
            <label>Person Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Spouse_Relationships</name>
        <label>Spouse Relationships?</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Add_Relationship_Record_to_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Relationship_Records_Returned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Spouse_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Record_to_Collection</targetReference>
            </connector>
            <label>No Relationship Records Returned</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>isInsert</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Account After Create or Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account After Create or Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Primary_Contact_Relationships</name>
        <label>Get Primary Contact Relationships</label>
        <locationX>182</locationX>
        <locationY>947</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Account_a_Primary_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PersonContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsPrimaryMember</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Spouse_Record</name>
        <label>Get Spouse Record</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Spouse_Relationships</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PersonContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RelatedContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PersonContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Spouse_Relationship__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContactContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Record_Type</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Assign_Addressee_and_Salutation_Fields_on_Organization_Accounts_Flow_1</name>
        <label>Assign Addressee and Salutation Fields on Organization Accounts Flow 1</label>
        <locationX>50</locationX>
        <locationY>1163</locationY>
        <flowName>Assign_Addressee_and_Salutation_Fields_on_Organization_Accounts</flowName>
        <inputAssignments>
            <name>relationshipRecords</name>
            <value>
                <elementReference>Get_Primary_Contact_Relationships</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Assign_Addressee_and_Salutation_Fields_on_Person_Accounts_Flow_1</name>
        <label>Assign Addressee and Salutation Fields on Person Accounts Flow 1</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Get_Primary_Contact_Relationships</targetReference>
        </connector>
        <flowName>Assign_Addressee_and_Salutation_Fields_on_Person_Accounts</flowName>
        <inputAssignments>
            <name>accountIsChanged</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>updatedAccounts</name>
            <value>
                <elementReference>accounts</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Assign_Addressee_and_Salutation_Fields_on_Person_Accounts_Flow_2</name>
        <label>Assign Addressee and Salutation Fields on Person Accounts Flow 2</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Get_Primary_Contact_Relationships</targetReference>
        </connector>
        <flowName>Assign_Addressee_and_Salutation_Fields_on_Person_Accounts</flowName>
        <inputAssignments>
            <name>contactContactCollection</name>
            <value>
                <elementReference>relationshipRecords</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>accounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>containsSpouse</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>relationshipRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ContactContactRelation</objectType>
    </variables>
</Flow>
