force-app/main/default/flows/Assign_Addressee_and_Salutation_Fields_on_Person_Accounts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Add_Account_Ids_to_Collection</name>
        <label>Add Account Ids to Collection</label>
        <locationX>1194</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>accountIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Account_Ids.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Account_Ids.Contact.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Account_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Account_Record_to_Collection_Variable</name>
        <label>Add Account Record to Collection Variable</label>
        <locationX>138</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>accountsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>account</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_Old_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Account_Records_to_Collection_Variable</name>
        <label>Add Account Records to Collection Variable</label>
        <locationX>1546</locationX>
        <locationY>1658</locationY>
        <assignmentItems>
            <assignToReference>accountsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>contactAccount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>account</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_Relationship_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Updated_Ids_to_Collection</name>
        <label>Add Updated Ids to Collection</label>
        <locationX>138</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>accountIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Updated_Account_Ids.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Updated_Account_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Account</name>
        <label>Assign Account</label>
        <locationX>1634</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>account</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Each_Account</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Account_Variable</name>
        <label>Assign Account Variable</label>
        <locationX>138</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>account</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Each_Old_Account</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Remove_Old_Addressee_and_Salutation_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contact_Account</name>
        <label>Assign Contact Account</label>
        <locationX>1898</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>contactAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Each_Account</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_Old_Addressee_and_Salutation_Values</name>
        <label>Remove Old Addressee and Salutation Values</label>
        <locationX>138</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>account.Addressee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountAddressee</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>account.Salutation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountSalutation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Account_Record_to_Collection_Variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Addressee_and_Salutation_Fields</name>
        <label>Update Addressee and Salutation Fields</label>
        <locationX>1414</locationX>
        <locationY>1466</locationY>
        <assignmentItems>
            <assignToReference>contactAccount.Addressee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactAddressee</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactAccount.Salutation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactSalutation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>account.Addressee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountAddressee</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>account.Salutation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountSalutation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Account_Records_to_Collection_Variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Joined_Addressee_and_Salutation_Fields</name>
        <label>Update Joined Addressee and Salutation Fields</label>
        <locationX>1678</locationX>
        <locationY>1466</locationY>
        <assignmentItems>
            <assignToReference>contactAccount.Addressee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>combinedAddressee</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactAccount.Salutation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>combinedSalutation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>account.Addressee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>combinedAddressee</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>account.Salutation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>combinedSalutation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Account_Records_to_Collection_Variable</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Accounts_to_Get_From_Current_Relationship</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Accounts to Get From Current Relationship</label>
        <locationX>1546</locationX>
        <locationY>758</locationY>
        <assignNextValueToReference>currentItem_Filter_Accounts_to_Get_From_Current_Relationship</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Accounts</collectionReference>
        <conditionLogic>or</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Accounts_to_Get_From_Current_Relationship.Id</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>For_Each_Relationship_Record.AccountId</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Accounts_to_Get_From_Current_Relationship.Id</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>For_Each_Relationship_Record.Contact.Account.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>For_Each_Account</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Account_Was_Changed</name>
        <label>Account Was Changed?</label>
        <locationX>578</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Get_Account_Ids</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_Value_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountIsChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Updated_Account_Ids</targetReference>
            </connector>
            <label>Account Value Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Deleted</name>
        <label>Is Deleted?</label>
        <locationX>1546</locationX>
        <locationY>1358</locationY>
        <defaultConnector>
            <targetReference>Update_Joined_Addressee_and_Salutation_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Deleted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isDeleted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Addressee_and_Salutation_Fields</targetReference>
            </connector>
            <label>Deleted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Match</name>
        <label>Match?</label>
        <locationX>1766</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Assign_Contact_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Else</defaultConnectorLabel>
        <rules>
            <name>If_Account_Id_Account_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_Each_Account.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>For_Each_Relationship_Record.AccountId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Account</targetReference>
            </connector>
            <label>If Account Id = Account Id</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>accountAddressee</name>
        <dataType>String</dataType>
        <expression>{!account.FirstName} + &apos; &apos; + {!account.LastName}</expression>
    </formulas>
    <formulas>
        <name>accountName</name>
        <dataType>String</dataType>
        <expression>{!account.FirstName} + &apos; &apos;  + {!account.LastName}</expression>
    </formulas>
    <formulas>
        <name>accountSalutation</name>
        <dataType>String</dataType>
        <expression>TEXT({!account.Salutation}) + &apos; &apos; + {!accountAddressee}</expression>
    </formulas>
    <formulas>
        <name>combinedAddressee</name>
        <dataType>String</dataType>
        <expression>IF({!account.LastName} = {!contactAccount.LastName}, 

{!account.FirstName} + &apos; and &apos;  + {!contactAccount.FirstName}+ &apos; &apos; + {!account.LastName}, 

{!accountName} + &apos; and &apos; +  {!contactAccountName} )</expression>
    </formulas>
    <formulas>
        <name>combinedSalutation</name>
        <dataType>String</dataType>
        <expression>IF( OR(TEXT({!account.Salutation}) = &apos;&apos;,  TEXT({!contactAccount.Salutation}) = &apos;&apos; ) ,
{!combinedAddressee}
,

IF(
OR({!account.LastName} &lt;&gt; {!contactAccount.LastName},TEXT({!account.Salutation}) = &quot;Dr.&quot; ,TEXT({!account.Salutation}) = &quot;Prof.&quot;,TEXT({!contactAccount.Salutation}) = &quot;Dr.&quot; ,TEXT({!contactAccount.Salutation}) = &quot;Prof.&quot;), 

TEXT({!account.Salutation}) + &apos; &apos; + {!accountName} + &apos; and &apos; +  TEXT({!contactAccount.Salutation}) + &apos; &apos; + {!contactAccountName} 

, 

TEXT({!account.Salutation}) + &apos; and &apos; + TEXT({!contactAccount.Salutation}) + &apos; &apos; +  {!account.FirstName} + &apos; and &apos;  +
 {!contactAccount.FirstName}+ &apos; &apos; + {!account.LastName}

)
)</expression>
    </formulas>
    <formulas>
        <name>contactAccountName</name>
        <dataType>String</dataType>
        <expression>{!contactAccount.FirstName} + &apos; &apos; +  {!contactAccount.LastName}</expression>
    </formulas>
    <formulas>
        <name>contactAddressee</name>
        <dataType>String</dataType>
        <expression>{!contactAccount.FirstName} + &apos; &apos; + {!contactAccount.LastName}</expression>
    </formulas>
    <formulas>
        <name>contactSalutation</name>
        <dataType>String</dataType>
        <expression>TEXT({!contactAccount.Salutation}) + &apos; &apos; + {!contactAddressee}</expression>
    </formulas>
    <interviewLabel>Assign Addressee and Salutation Fields on Person Accounts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assign Addressee and Salutation Fields on Person Accounts</label>
    <loops>
        <name>For_Each_Account</name>
        <label>For Each Account</label>
        <locationX>1546</locationX>
        <locationY>866</locationY>
        <collectionReference>Filter_Accounts_to_Get_From_Current_Relationship</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Match</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_Deleted</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>For_Each_Old_Account</name>
        <label>For Each Old Account</label>
        <locationX>50</locationX>
        <locationY>650</locationY>
        <collectionReference>Get_Updated_Accounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Account_Variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Accounts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>For_Each_Relationship_Record</name>
        <label>For Each Relationship Record</label>
        <locationX>1106</locationX>
        <locationY>650</locationY>
        <collectionReference>relationshipRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Filter_Accounts_to_Get_From_Current_Relationship</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Accounts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Get_Account_Ids</name>
        <label>Get Account Ids</label>
        <locationX>1106</locationX>
        <locationY>242</locationY>
        <collectionReference>relationshipRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Account_Ids_to_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Accounts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Get_Updated_Account_Ids</name>
        <label>Get Updated Account Ids</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <collectionReference>updatedAccounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Updated_Ids_to_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Updated_Accounts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Accounts</name>
        <label>Get Accounts</label>
        <locationX>1106</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_Each_Relationship_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>accountIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Updated_Accounts</name>
        <label>Get Updated Accounts</label>
        <locationX>50</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_Each_Old_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>accountIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Accounts</name>
        <label>Update Accounts</label>
        <locationX>578</locationX>
        <locationY>1934</locationY>
        <inputReference>accountsToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Account_Was_Changed</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>accountIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>accountIsChanged</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>accountsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>contactAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Accounts_to_Get_From_Current_Relationship</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>isDeleted</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>relationshipRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
    <variables>
        <name>updatedAccounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
