force-app/main/default/flows/Assign_Addressee_and_Salutation_Fields_on_Organization_Accounts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Add_Id_to_Variable</name>
        <label>Add Id to Variable</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>accountIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Account_Ids.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Account_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Organization_Account_Record_to_Collection_Variable</name>
        <label>Add Organization Account Record to Collection Variable</label>
        <locationX>836</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>accountsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>account</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Filter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Account_to_Variable</name>
        <label>Assign Account to Variable</label>
        <locationX>836</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>account</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Filter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Primary_Contact_Deleted</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Addressee_Field_to_Blank</name>
        <label>Update Addressee Field to Blank</label>
        <locationX>704</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>account.Addressee__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>account.Salutation__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Add_Organization_Account_Record_to_Collection_Variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Addressee_to_Primary_Contact_Name</name>
        <label>Update Addressee to Primary Contact Name</label>
        <locationX>968</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>account.Addressee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>primaryContactAddressee</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>account.Salutation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>primaryContactName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Organization_Account_Record_to_Collection_Variable</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Account_Collection</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Account Collection</label>
        <locationX>616</locationX>
        <locationY>758</locationY>
        <assignNextValueToReference>currentItem_Filter_Account_Collection</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Organization_Accounts</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Account_Collection.Id</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>For_Each_Relationship.AccountId</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_Through_Filter</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Is_Primary_Contact_Deleted</name>
        <label>Is Primary Contact Deleted?</label>
        <locationX>836</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>Update_Addressee_to_Primary_Contact_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Deleted_Marked_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isDeleted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Addressee_Field_to_Blank</targetReference>
            </connector>
            <label>Deleted Marked True</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>primaryContactAddressee</name>
        <dataType>String</dataType>
        <expression>TEXT({!For_Each_Relationship.Contact.Salutation}) + &apos; &apos; + {!primaryContactName}</expression>
    </formulas>
    <formulas>
        <name>primaryContactName</name>
        <dataType>String</dataType>
        <expression>{!For_Each_Relationship.Contact.FirstName} + &apos; &apos; + {!For_Each_Relationship.Contact.LastName}</expression>
    </formulas>
    <interviewLabel>Assign Addressee and Salutation Fields on Person Accounts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assign Addressee and Salutation Fields on Organization Accounts</label>
    <loops>
        <name>For_Each_Relationship</name>
        <label>For Each Relationship</label>
        <locationX>176</locationX>
        <locationY>650</locationY>
        <collectionReference>relationshipRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Filter_Account_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Accounts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Get_Account_Ids</name>
        <label>Get Account Ids</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>relationshipRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Id_to_Variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Organization_Accounts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Filter</name>
        <label>Loop Through Filter</label>
        <locationX>616</locationX>
        <locationY>866</locationY>
        <collectionReference>Filter_Account_Collection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Account_to_Variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>For_Each_Relationship</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Error_Records</name>
        <label>Error Records</label>
        <locationX>440</locationX>
        <locationY>1766</locationY>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <elementReference>errorMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Organization_Accounts</name>
        <label>Get Organization Accounts</label>
        <locationX>176</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_Each_Relationship</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Records</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>accountIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Organization_Record_Type.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Organization_Record_Type</name>
        <label>Get Organization Record Type</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Ids</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Records</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Organization</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Accounts</name>
        <label>Update Accounts</label>
        <locationX>176</locationX>
        <locationY>1658</locationY>
        <faultConnector>
            <targetReference>Error_Records</targetReference>
        </faultConnector>
        <inputReference>accountsToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Organization_Record_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>errorMessage</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;There was an issue with assigning the addressee field on organization accounts:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>accountIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>accountsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>contactAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Account_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Accounts_to_Get_From_Current_Relationship</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>isDeleted</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>relationshipRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
</Flow>
