force-app/main/default/flows/Create_Soft_Credits_for_Donor_Relationships.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Add_Contact_Ids_to_Collection</name>
        <label>Add Contact Ids to Collection</label>
        <locationX>264</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>contactIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_Each_Account.PersonContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Ids_to_Collection</name>
        <label>Add Ids to Collection</label>
        <locationX>264</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>accountIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Collect_Account_Ids.DonorId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_Account_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Relationship_Records_to_Collection</name>
        <label>Add Relationship Records to Collection</label>
        <locationX>2288</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>softCreditCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>softCredit</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Organization_Relationships</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Soft_Credit_to_Collection</name>
        <label>Add Soft Credit to Collection</label>
        <locationX>1936</locationX>
        <locationY>1922</locationY>
        <assignmentItems>
            <assignToReference>softCreditCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>softCredit</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Person_Account_Relationships</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Spouse_Soft_Credit_to_Collection</name>
        <label>Add Spouse Soft Credit to Collection</label>
        <locationX>1936</locationX>
        <locationY>2522</locationY>
        <assignmentItems>
            <assignToReference>softCreditCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>softCredit</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Loop_Through_Account_Filter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Foundation_Soft_Credit</name>
        <label>Create Foundation Soft Credit</label>
        <locationX>1936</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>softCredit.GiftTransactionId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Each_Gift_Transaction.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>softCredit.PartialPercent</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>softCredit.RecipientId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Person_Account_Relationships.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Soft_Credit_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Related_Contact_Soft_Credits</name>
        <label>Create Related Contact Soft Credits</label>
        <locationX>2288</locationX>
        <locationY>1706</locationY>
        <assignmentItems>
            <assignToReference>softCredit.GiftTransactionId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Each_Gift_Transaction.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>softCredit.PartialPercent</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>softCredit.RecipientId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Organization_Relationships.Contact.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Relationship_Records_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Spouse_Soft_Credit</name>
        <label>Create Spouse Soft Credit</label>
        <locationX>1936</locationX>
        <locationY>2414</locationY>
        <assignmentItems>
            <assignToReference>softCredit.GiftTransactionId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Each_Gift_Transaction.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>softCredit.PartialPercent</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>softCredit.RecipientId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Spouse_Soft_Credit_to_Collection</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Contact_Relationships</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Contact Relationships</label>
        <locationX>1848</locationX>
        <locationY>2198</locationY>
        <assignNextValueToReference>currentItem_Filter_Contact_Relationships</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Spouse_Records</collectionReference>
        <conditionLogic>or</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Contact_Relationships.ContactId</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_Through_Account_Filter.PersonContactId</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Contact_Relationships.RelatedContactId</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_Through_Account_Filter.PersonContactId</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_Through_Spouse_Relationships</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Find_Account_Relationships</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Find Account Relationships</label>
        <locationX>2024</locationX>
        <locationY>1382</locationY>
        <assignNextValueToReference>currentItem_Find_Account_Relationships</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Account_Relationships</collectionReference>
        <conditionLogic>or</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Find_Account_Relationships.AccountId</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_Through_Account_Filter.Id</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Find_Account_Relationships.ContactId</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_Through_Account_Filter.PersonContactId</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>What_is_the_Account_Record_Type</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Get_Gift_Transaction_Account</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Get Gift Transaction Account</label>
        <locationX>1408</locationX>
        <locationY>1166</locationY>
        <assignNextValueToReference>currentItem_Get_Gift_Transaction_Account</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Accounts</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Get_Gift_Transaction_Account.Id</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>For_Each_Gift_Transaction.DonorId</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_Through_Account_Filter</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>What_is_the_Account_Record_Type</name>
        <label>What is the Account Record Type?</label>
        <locationX>2024</locationX>
        <locationY>1490</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Organization_Relationships</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Organization</defaultConnectorLabel>
        <rules>
            <name>Person_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Account_Filter.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PersonAccount</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Person_Account_Relationships</targetReference>
            </connector>
            <label>Person Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Type_of_Relationship</name>
        <label>What Type of Relationship?</label>
        <locationX>2068</locationX>
        <locationY>1706</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Person_Account_Relationships</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Foundation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Person_Account_Relationships.Account.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Organization</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Foundation_Soft_Credit</targetReference>
            </connector>
            <label>Foundation</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>contactId</name>
        <dataType>String</dataType>
        <expression>IF({!Loop_Through_Account_Filter.PersonContactId} = {!Loop_Through_Spouse_Relationships.ContactId} , {!Loop_Through_Spouse_Relationships.RelatedContact.AccountId}, {!Loop_Through_Spouse_Relationships.Contact.AccountId})</expression>
    </formulas>
    <formulas>
        <name>getSpouseId</name>
        <dataType>String</dataType>
        <expression>IF({!Loop_Through_Person_Account_Relationships.AccountId} = {!Loop_Through_Account_Filter.Id}, {!currentItem_Find_Account_Relationships.Contact.AccountId}, {!Loop_Through_Person_Account_Relationships.AccountId})</expression>
    </formulas>
    <interviewLabel>Create Soft Credits for Donor Relationships {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Soft Credits for Donor Relationships</label>
    <loops>
        <name>Collect_Account_Ids</name>
        <label>Collect Account Ids</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <collectionReference>giftTransactionCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Ids_to_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Accounts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>For_Each_Account</name>
        <label>For Each Account</label>
        <locationX>176</locationX>
        <locationY>542</locationY>
        <collectionReference>Get_Accounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Contact_Ids_to_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Account_Relationships</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>For_Each_Gift_Transaction</name>
        <label>For Each Gift Transaction</label>
        <locationX>176</locationX>
        <locationY>1058</locationY>
        <collectionReference>giftTransactionCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Gift_Transaction_Account</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Soft_Credits</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Account_Filter</name>
        <label>Loop Through Account Filter</label>
        <locationX>1408</locationX>
        <locationY>1274</locationY>
        <collectionReference>Get_Gift_Transaction_Account</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Find_Account_Relationships</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>For_Each_Gift_Transaction</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Organization_Relationships</name>
        <label>Loop Through Organization Relationships</label>
        <locationX>2200</locationX>
        <locationY>1598</locationY>
        <collectionReference>Find_Account_Relationships</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Related_Contact_Soft_Credits</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Through_Account_Filter</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Person_Account_Relationships</name>
        <label>Loop Through Person Account Relationships</label>
        <locationX>1848</locationX>
        <locationY>1598</locationY>
        <collectionReference>Find_Account_Relationships</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>What_Type_of_Relationship</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Filter_Contact_Relationships</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Spouse_Relationships</name>
        <label>Loop Through Spouse Relationships</label>
        <locationX>1848</locationX>
        <locationY>2306</locationY>
        <collectionReference>Filter_Contact_Relationships</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Spouse_Soft_Credit</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Through_Account_Filter</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Error_Log</name>
        <label>Create Error Log</label>
        <locationX>440</locationX>
        <locationY>3140</locationY>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <elementReference>errorMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Soft_Credits</name>
        <label>Create Soft Credits</label>
        <locationX>176</locationX>
        <locationY>3032</locationY>
        <faultConnector>
            <targetReference>Create_Error_Log</targetReference>
        </faultConnector>
        <inputReference>softCreditCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Relationships</name>
        <label>Get Account Relationships</label>
        <locationX>176</locationX>
        <locationY>842</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Spouse_Records</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>In</operator>
            <value>
                <elementReference>accountIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>In</operator>
            <value>
                <elementReference>contactIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Accounts</name>
        <label>Get Accounts</label>
        <locationX>176</locationX>
        <locationY>434</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_Each_Account</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Error_Log</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>accountIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Spouse_Records</name>
        <label>Get Spouse Records</label>
        <locationX>176</locationX>
        <locationY>950</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_Each_Gift_Transaction</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>In</operator>
            <value>
                <elementReference>contactIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>RelatedContactId</field>
            <operator>In</operator>
            <value>
                <elementReference>contactIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Spouse_Relationship__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContactContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Collect_Account_Ids</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>errorMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>There was an error creating soft credits:

{!$Flow.FaultMessage}</text>
    </textTemplates>
    <variables>
        <name>accountIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_Filter_Contact_Relationships</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContactContactRelation</objectType>
    </variables>
    <variables>
        <name>currentItem_Find_Account_Relationships</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
    <variables>
        <name>currentItem_Get_Gift_Transaction_Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>giftTransactionCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>GiftTransaction</objectType>
    </variables>
    <variables>
        <name>softCredit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GiftSoftCredit</objectType>
    </variables>
    <variables>
        <name>softCreditCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GiftSoftCredit</objectType>
    </variables>
    <variables>
        <name>spouseCreated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
