force-app/main/default/flows/Gift_Transaction_After_Create_or_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Add_Transaction_to_Collection</name>
        <label>Add Transaction to Collection</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>giftTransactions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Soft_Credits_for_Donor_Relationships_Flow_1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Was_Transaction_Changed_or_New</name>
        <label>Was Transaction Changed or New?</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Transaction_Or_Account_Changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>isInsert</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DonorId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Transaction_to_Collection</targetReference>
            </connector>
            <label>New Transaction Or Account Changed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>isInsert</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Gift Transaction After Create or Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Gift Transaction After Create or Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Was_Transaction_Changed_or_New</targetReference>
        </connector>
        <object>GiftTransaction</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Soft_Credits_for_Donor_Relationships_Flow_1</name>
        <label>Create Soft Credits for Donor Relationships Flow 1</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <flowName>Create_Soft_Credits_for_Donor_Relationships</flowName>
        <inputAssignments>
            <name>giftTransactionCollection</name>
            <value>
                <elementReference>giftTransactions</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>giftTransactions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>GiftTransaction</objectType>
    </variables>
</Flow>
