force-app/main/default/flows/On_Create_or_Update_Set_Donor_Fields_From_Calculated_DGS.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_Donor_Gift_Summary_Fields</name>
        <label>Assign Donor Gift Summary Fields</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>Get_Donor.LastYearGiftCount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LastYearGiftCount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Donor.LastTwoYearGiftCount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LastTwoYearGiftCount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Donor.Gift_Count__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.GiftCount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Donor.Frequency_Score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.FrequencyScore</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Donor.Current_Year_Gift_Count__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CurrentYearGiftCount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Donor.LastGiftDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LastGiftDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Donor.First_Gift_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.FirstGiftDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Donor.TotalGiftsAmount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TotalGiftsAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Donor.LowestGiftAmount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LowestGiftAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Donor.LastGiftAmount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LastGiftAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Donor.HighestGiftYearAmount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.HighestGiftYearAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Donor.HighestGiftAmount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.HighestGiftAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Donor.GiftsTwoYearsAgoAmount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.GiftsTwoYearsAgoAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Donor.GiftsThisYearAmount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.GiftsThisYearAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Donor.Gifts_Last_Year_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.GiftsLastYearAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Donor.First_Gift_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.FirstGiftAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Donor.RecencyScore__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.RecencyScore</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Donor.Best_Gift_Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BestGiftYear</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Donor</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>On Create or Update: Set Donor Fields From Calculated DGS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>On Create or Update: Set Donor Fields From Calculated DGS</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Donor</name>
        <label>Get Donor</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Donor_Gift_Summary_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Donor.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Donor</name>
        <label>Update Donor</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <inputReference>Get_Donor</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Donor</targetReference>
        </connector>
        <object>DonorGiftSummary</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
