force-app/main/default/flows/Record_Trigger_Gift_Txn_Creation_Associate_Soft_Credit_to_Account_Relationships.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Add_Soft_credit</name>
        <label>Add Soft Credit to List</label>
        <locationX>264</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>ListSoftCredit</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>IndividualSoftCredit</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Soft_Credit</name>
        <label>Assign Soft Credit</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>IndividualSoftCredit.GiftTransactionId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IndividualSoftCredit.PartialAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OriginalAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IndividualSoftCredit.RecipientId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Soft_credit</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Record Trigger: Gift Txn Creation Associate Soft Credit to Account Relationships {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record Trigger: Gift Txn Creation Associate Soft Credit to Account Relationships</label>
    <loops>
        <name>Loop_1</name>
        <label>Loop Account Contact Relationships</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_Account_Contact_Relationships</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Soft_Credit</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Soft_Credit</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Soft_Credit</name>
        <label>Create Soft Credit</label>
        <locationX>176</locationX>
        <locationY>947</locationY>
        <inputReference>ListSoftCredit</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Contact_Relationships</name>
        <label>Get Account Contact Relationships</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Contact_Relationships</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.DonorId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <object>GiftTransaction</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>IndividualSoftCredit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GiftSoftCredit</objectType>
    </variables>
    <variables>
        <name>ListSoftCredit</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GiftSoftCredit</objectType>
    </variables>
</Flow>
